html {
  scroll-behavior: smooth;
}
.header {
  background-image: url("../Images/Shoe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: white;
  font-size: 10px;
}
p{
  font-size: 20px;
  margin: 1;
  padding: 1;
}

.about{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  /* height: 40vh; */
}
.services{
  background-image: url("../Images/s_image.jpg");
  text-align: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  color: white;
}
.services p{
  margin: 70px;
}
.services h2{
  padding-top: 60px;
}
.design {
  margin-left: 15%;
}
.development {
  margin-left: 10%;
}
.p{
  display: none;
}
.row{
align-items: center;
flex-wrap: wrap;
display: flex;
}
.contact{
  background-image: url("../Images/c_image.jpg");
  text-align: center;
  background-size: cover;

}