html {
  scroll-behavior: smooth;
}
.header {
  background-image: url("../Images/Shoe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: white;
  font-size: 10px;
}
p{
  font-size: 20px;
  margin: 1;
  padding: 1;
}

.about{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  /* height: 40vh; */
}
.services{
  background-image: url("../Images/s_image.jpg");
  text-align: center;
  background-size: cover;
  height: 60vh;
  width: 100vw;
  color: white;
  
}
.services p{
  margin:auto, 70px;
  padding-left: 20px;
  padding-right: 20px;
}
.services h3{
  padding-top: 60px;
}

.p{
  display: none;
}
.row{
align-items: center;
flex-wrap: wrap;
display: flex;
margin: 0 auto;
font-family: sans-serif;
position: relative;
}

.row img{
  display: block;
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
}

.contacts{
  text-align: center;
  background-image: url("../Images/c_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  color: white;
  padding-top: 20%;
}
 
}
::placeholder{
  color: rgba(245, 245, 220,0.61);
  text-align: center;
}
 
h3{
  text-align: center;
}
.division{
  width: 25%;
  text-align: center;
  margin: 20px;
}
 
.what-we-do {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-left: 20px;
}
.portfolio {
  position: relative;
  width: 200px;
  height: 200px;
  display: inline-block;

}
.image {
  display: block;
  width: 200px;
  height: 200px;
}


.designp{
  display: none;

}
.developmentp{
  display: none;

}
.product-managementp{
  display: none;
}
form {
  text-align: center;
}
footer{
  text-align: center;
}
.icons{
  padding-top: 20%;
  width: 40px;
  height: 20px;
}
.blur{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);filter: blur(10px);
  opacity: 0.8;

}
.portfolio{
  padding-left: 6%;
  padding-right: 6%;

}
.portfolio img{
  padding-bottom: 20px;

}

